In [1]:
import pandas as pd
import numpy as np

from glob import glob

In [71]:
csv_files1 = glob('./lstm/*.csv')
csv_files2 = glob('./longformer/*.csv')
csv_files3 = glob('./large/*.csv')
csv_files = csv_files1 + csv_files2# + csv_files3

In [128]:
csv_files = glob('./ensembled/*.csv')

In [44]:
for f in csv_files[:]:
    if 'xlm' in f or 'soddokayo' in f:
        csv_files.remove(f)

In [131]:
csv_files

['./ensembled/lstm4+longformer_mean_weighted_ensembled.csv',
 './ensembled/klue+nlpotato+soddoko+xlm_all_weighted_ensembled.csv']

In [4]:
sum_weight = sum([3, 2, 2, 1.5, 1.5])

weight_dict = {
    'lstm':3/sum_weight,
    'klue':2/sum_weight,
    'nlpotato':2/sum_weight,
    'soddokayo':1.5/sum_weight,
    'xlm':1.5/sum_weight,
}

# sum_weight = np.exp([71.6550, 73.2132, 73.1156]).sum()

# weight_dict = {
#     'klue':np.exp(73.1156)/sum_weight,
#     'nlpotato':np.exp(73.2132)/sum_weight,
#     'soddokayo':np.exp(71.6550)/sum_weight,
#     # 'xlm':np.exp(70.1203)/sum_weight,
# }

file_counts = {
    'lstm':3,
    'klue':3,
    'nlpotato':3,
    'soddokayo':5,
    'xlm':3,
}

weights = [0] * len(csv_files)

# for i, file in enumerate(csv_files):
#     for key, value in weight_dict.items():
#         if key in file:
#             weights[i] = value/file_counts[key]

In [5]:
sum(weights)

0.9999999999999999

In [6]:
weights

[0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333,
 0.06666666666666667,
 0.06666666666666667,
 0.06666666666666667,
 0.13333333333333333,
 0.13333333333333333,
 0.13333333333333333]

In [130]:
weights = [0.65, 0.35]

In [132]:
pds = [pd.read_csv(csv) for csv in csv_files]

## analysis

In [98]:
for i in range(len(pds)):
    pds[i][f'pred_label{i}'] = pds[i]['pred_label']

In [100]:
sentences = pd.read_csv('../dataset/test/test_data.csv')

In [101]:
df_cat = pd.concat([sentences]+[x[f'pred_label{i}'] for i, x in enumerate(pds)], axis=1)

In [103]:
df_cat[(df_cat.pred_label0 != df_cat.pred_label1) | (df_cat.pred_label1 != df_cat.pred_label2) | (df_cat.pred_label2 != df_cat.pred_label3)]

,id,sentence,subject_entity,object_entity,label,source,pred_label0,pred_label1,pred_label2,pred_label3
0,0,지난 15일 MBC '탐사기획 스트레이트'가 이 사실을 보도했다.,"{'word': 'MBC', 'start_idx': 7, 'end_idx': 9, ...","{'word': '탐사기획 스트레이트', 'start_idx': 12, 'end_i...",100,wikitree,no_relation,org:product,org:members,org:product
4,4,"당시 민주당 이진련 시의원은 권영진 시장에게 ""긴급 생계자금을 왜 현금으로 지원하지...","{'word': '민주당', 'start_idx': 3, 'end_idx': 5, ...","{'word': '권영진', 'start_idx': 16, 'end_idx': 18...",100,wikitree,no_relation,no_relation,org:top_members/employees,no_relation
9,9,소련군에서 그의 이름도 중국식의 진지첸으로 조선인으로서의 정체성도 희박했다.,"{'word': '소련군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '진지첸', 'start_idx': 18, 'end_idx': 20...",100,wikipedia,org:top_members/employees,org:top_members/employees,org:alternate_names,org:top_members/employees
11,11,그러나 1993년 김영삼 정권 출범 직후 안기부를 대대적으로 숙청하면서 미림팀은 폐...,"{'word': '미림팀', 'start_idx': 40, 'end_idx': 42...","{'word': '1993년', 'start_idx': 4, 'end_idx': 8...",100,wikipedia,org:dissolved,no_relation,org:dissolved,org:dissolved
12,12,"한편, 시는 3E 정책에 대한 아이디어가 있는 시민들은 누구나 정책을 제안 할 수 ...","{'word': '시', 'start_idx': 4, 'end_idx': 4, 't...","{'word': '3E', 'start_idx': 7, 'end_idx': 8, '...",100,wikitree,org:product,no_relation,no_relation,no_relation
...,...,...,...,...,...,...,...,...,...,...
7753,7753,미국군은 마지막 추축국인 일본의 본토에 무차별 야간 공습을 실시했다.,"{'word': '미국군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '일본', 'start_idx': 14, 'end_idx': 15,...",100,wikipedia,no_relation,no_relation,org:place_of_headquarters,no_relation
7754,7754,황병직(영주) 의원은 대구경북연구원의 규정을 위반한 직원평정과 이로 인한 성과급 과...,"{'word': '황병직', 'start_idx': 0, 'end_idx': 2, ...","{'word': '영주', 'start_idx': 4, 'end_idx': 5, '...",100,wikitree,per:place_of_residence,per:employee_of,per:place_of_residence,per:place_of_residence
7755,7755,설리는 JTBC2 예능 프로그램 '악플의 밤'에서 MC로 출연 중이다.,"{'word': '설리', 'start_idx': 0, 'end_idx': 1, '...","{'word': '악플의 밤', 'start_idx': 19, 'end_idx': ...",100,wikitree,no_relation,per:product,no_relation,no_relation
7758,7758,충용군이 경상도에서 머무른 지 한 달이 되자 군량 부족에 시달린다.,"{'word': '충용군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '경상도', 'start_idx': 5, 'end_idx': 7, ...",100,wikipedia,no_relation,no_relation,per:place_of_residence,per:place_of_residence
7759,7759,블랙 위도우와 함께 '레드룸 프로젝트'를 막기 위해 합류하는 레드 가디언은 드라마 ...,"{'word': '짐 호퍼', 'start_idx': 61, 'end_idx': 6...","{'word': '경찰', 'start_idx': 56, 'end_idx': 57,...",100,wikitree,per:employee_of,per:title,per:employee_of,per:title

## soft vote

In [133]:
test_data = pd.read_csv('../dataset/test/test_data.csv')

In [122]:
probs = [x.probs.apply(eval).to_list() for x in pds]
probs = [np.array(x) for x in probs]
probs = np.array(probs)
probs = probs.mean(axis=0)

In [134]:
probs = [x.probs.apply(eval).to_list() for x in pds]
probs = [np.array(x) for x in probs]
probs = np.array(probs)

for i, w in enumerate(weights):
    probs[i] *= w

probs = probs.sum(axis=0)

In [135]:
import pickle

def num_to_label(label):
    """
    숫자로 되어 있던 class를 원본 문자열 라벨로 변환 합니다.
    """
    origin_label = []
    with open('dict_num_to_label.pkl', 'rb') as f:
        dict_num_to_label = pickle.load(f)
    for v in label:
        origin_label.append(dict_num_to_label[v])

    return origin_label

label = num_to_label(probs.argmax(-1))

In [136]:
sub = pd.read_csv('../prediction/sample_submission.csv')
sub['pred_label'] = label
sub['probs'] = list(probs)

In [86]:
i = 0
idx = 1071
print(csv_files[i])
print(pds[i].loc[idx, 'pred_label'])
print(test_data.loc[idx, 'subject_entity'])
print(test_data.loc[idx, 'object_entity'])
print(test_data.loc[idx,'sentence'])

./ensembled/klue+nlpotato+xlmtwitter+longformer_lstm_full_normal_ensembled.csv
per:title
{'word': '주', 'start_idx': 0, 'end_idx': 0, 'type': 'PER'}
{'word': '의원', 'start_idx': 2, 'end_idx': 3, 'type': 'POH'}
주 의원은 또한 Massport가 MBTA에서 페리를 인수 할 것을 제안했다.

칼빈 어머니 -> 쟌느 르 프랑끄 -> 여인숙 주인
여인숙 -> 깜브레

In [ ]:
sub.pred_label.value_counts()

In [315]:
weight_dict

{'klue': 0.3354175860774975,
 'nlpotato': 0.33586532577191514,
 'soddokayo': 0.32871708815058737}

In [112]:
sub.loc[np.where(probs.std(axis=1)<0.07)[0]]

,id,pred_label,probs
582,582,org:place_of_headquarters,"[0.1325674604062813, 0.017192319261943454, 0.0..."
1071,1071,per:title,"[0.12311209848179366, 0.1080142394983677, 0.02..."
5001,5001,no_relation,"[0.2753118321427862, 0.0016589621077131853, 0...."

In [317]:
sub.sample(10)

,id,pred_label,probs
915,915,no_relation,"[0.9949109852313995, 0.00041572650661692023, 0..."
7421,7421,per:alternate_names,"[0.00048530648443071794, 0.0001787140245141927..."
1222,1222,org:members,"[0.11722093168646097, 0.007509220828069374, 0...."
3079,3079,no_relation,"[0.9879991412162781, 0.00018576233621085217, 0..."
751,751,no_relation,"[0.47798822075128555, 0.0010386228483791153, 0..."
7519,7519,no_relation,"[0.640225683649381, 0.0008954699587775394, 0.0..."
4487,4487,per:title,"[0.006335496553219855, 0.0001210441817723525, ..."
4810,4810,no_relation,"[0.7378177841504415, 0.0007103665460211536, 0...."
5819,5819,no_relation,"[0.9827907383441925, 0.00015166810893182023, 0..."
3111,3111,no_relation,"[0.8995017309983572, 0.0006167003302834928, 0...."

In [113]:
before = pd.read_csv('./before+lstm_ensemble_weighted_ensembled.csv')

In [114]:
sub[before.pred_label != sub.pred_label]

,id,pred_label,probs
535,535,per:origin,"[0.3813691363359728, 0.00046440222084183965, 0..."
652,652,no_relation,"[0.49225539426348763, 0.00030024941189924127, ..."
665,665,per:other_family,"[0.013890221291561054, 0.00033530721567813303,..."
703,703,no_relation,"[0.568617736397916, 0.00027059106039974856, 0...."
779,779,per:place_of_residence,"[0.4544138246652895, 0.00037755115858711995, 0..."
...,...,...,...
7458,7458,org:alternate_names,"[0.09640079924413454, 0.0007973466352243167, 0..."
7528,7528,no_relation,"[0.5660135342253906, 0.00015717602063337134, 0..."
7649,7649,per:origin,"[0.10504139882953578, 0.0002208353860746611, 0..."
7682,7682,org:place_of_headquarters,"[0.42487836851938066, 0.00021886612621978486, ..."
7695,7695,org:top_members/employees,"[0.4095918971384387, 0.5714921773721574, 0.000..."

In [137]:
sub.probs = sub.probs.apply(list)

In [138]:
sub

,id,pred_label,probs
0,0,org:product,"[0.0808280590550896, 0.003572964839177585, 0.2..."
1,1,per:alternate_names,"[0.012499052718257004, 0.00025482196119383613,..."
2,2,no_relation,"[0.9982978714642048, 4.152079021186176e-05, 4...."
3,3,no_relation,"[0.8767223939917332, 0.0004712281025408531, 0...."
4,4,no_relation,"[0.7919464476410116, 0.19818309081487634, 0.00..."
...,...,...,...
7760,7760,org:place_of_headquarters,"[0.14371133825426008, 0.0015863025707200762, 0..."
7761,7761,no_relation,"[0.99138398828447, 0.0003166008010071632, 0.00..."
7762,7762,org:top_members/employees,"[0.0001053890544502037, 0.9990859762409872, 3...."
7763,7763,no_relation,"[0.9104606631951317, 0.00023644081389918915, 0..."
7764,7764,no_relation,"[0.9953035973279902, 0.00013839915737571743, 4..."

In [139]:
sub.to_csv('./lstm4+longformer+ensemble_weighted_weighted_ensembled.csv', index=False)

## 분섟

In [244]:
import pandas as pd

In [246]:
pred = pd.read_csv('../torch-train/outputs/20240117_103028_run_klue-roberta-large.csv')

In [249]:
test_data.object_entity = test_data.object_entity.apply(eval)

In [260]:
test_data['obj_type'] = test_data.object_entity.apply(dict.get, args=('type',))

In [263]:
test_data[test_data['obj_type']=='DAT'].index

Index([   2,   11,   13,   17,   44,   54,   58,   63,   66,   69,
       ...
       7670, 7673, 7694, 7701, 7730, 7738, 7747, 7761, 7763, 7764],
      dtype='int64', length=790)

In [266]:
pred1 = pred.loc[test_data[test_data['obj_type']=='DAT'].index]

In [275]:
i = 58
print(test_data.loc[i,'sentence'])
print(test_data.loc[i,'subject_entity'])
print(test_data.loc[i,'object_entity'])
print(pred1.loc[i, 'pred_label'])

예일 대학 교수 데이비드 비드니 (1908년 - 1987년)는 이것에 반대하고 있다.
{'word': '데이비드 비드니', 'start_idx': 9, 'end_idx': 16, 'type': 'PER'}
{'word': '1908년', 'start_idx': 19, 'end_idx': 23, 'type': 'DAT'}
per:date_of_birth

In [268]:
pred1[pred1.pred_label!='no_relation']

,id,pred_label,probs
11,11,org:dissolved,"[0.0112584438174963, 0.0027699756901711226, 0...."
58,58,per:date_of_birth,"[0.0029821048956364393, 0.0017124142032116652,..."
341,341,org:founded,"[0.06511560082435608, 0.001736104371957481, 0...."
415,415,org:founded,"[0.006106287706643343, 0.0009918748401105404, ..."
416,416,org:founded,"[0.004689211957156658, 0.0011434544576331973, ..."
...,...,...,...
7363,7363,per:origin,"[0.011496126651763916, 0.0029759465251117945, ..."
7456,7456,per:origin,"[0.012351647019386292, 0.0060904002748429775, ..."
7476,7476,per:date_of_birth,"[0.018261084333062172, 0.0012017786502838135, ..."
7665,7665,org:founded,"[0.13151907920837402, 0.012071825563907623, 0...."
7694,7694,per:date_of_death,"[0.010507207363843918, 0.0026557855308055878, ..."